/*li#nav-links-groups-li,li#nav-links-personal-li {
background: url(../images/chain_16x16.png) no-repeat 100% 52%;
padding-right: 10px;
}
li#nav-videos-groups-li,li#nav-videos-personal-li {
background: url(../images/16-video-square_16x16.png) no-repeat 100% 52%;
ma100rgin-left: 20px;
padding-right: 10px;
}
li#nav-images-groups-li,li#nav-images-personal-li {
background: url(../images/image_spearmint_16x16.png) no-repeat 100% 52%;
margin-left: 20px;
padding-right: 10px;
}

.ls_bpfb_links_widget .bpfb_link_preview_body {width:85%}
.ls_bpfb_links_widget .bpfb_final_link .bpfb_link_contents {width: 85%}*/
